{% extends 'base.html.twig' %}
{% block title %}Detail{% endblock %}
{% block body %}
<h1>Exportar usu치rios</h1>
<p>Uma lista de usu치rios no formato CSV ser치 gerada contendo o gateway, nome de usu치rio, MAC e IP.
{{ form_start(form, {"attr": {"class": "container"}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.hosts, {"attr": {"class": "mb-3"}}) }}
    <button class="mb-3 btn btn-primary" type="submit">Exportar</button>
{{ form_end(form) }}
{% endblock %}
