{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<p>Total de resultados: {{ results.meta.length|e }}</p>
<ul>
    {% for gw in results.data %}
        {% for user in gw.data %}
            <li>{{ user.name|e }}</li>
        {% endfor %}
    {% endfor %}
</ul>

{% endblock %}