{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<p>Total de resultados: {{ output.meta.length|e }}</p>
<ul>
    {% for user in output.users %}
        <li>{{ user.name|e }}</li>
    {% endfor %}
</ul>

{% endblock %}
