{% if errors %}
	<div class="alert alert-danger" role="alert">
		{% for error in errors %}
			<span class="d-block">{{ error.hostname }}: {{ error.message }}</span>
		{% endfor %}
	</div>
{% endif %}
